<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="/admin/" module="Administration" action="index" pattern="/admin/"/>

	<route url="/admin/news\.html" module="News" action="index" pattern="/admin/news.html"/>
	<route url="/admin/news-insert\.html" module="News" action="insert" pattern="/admin/news-insert.html"/>
	<route url="/admin/news-update-([0-9]+)\.html" module="News" action="update" vars="id" pattern="/admin/news-update-%id%.html"/>
	<route url="/admin/news-delete-([0-9]+)\.html" module="News" action="delete" vars="id" pattern="/admin/news-delete-%id%.html"/>

	<route url="/admin/comment-update-([0-9]+)\.html" module="News" action="updateComment" vars="comment_id" pattern="/admin/comment-update-%comment_id%.html"/>
	<route url="/admin/comment-delete-([0-9]+)\.html" module="News" action="deleteComment" vars="comment_id" pattern="/admin/comment-delete-%comment_id%.html"/>
	<route url="/admin/comment-insert-([0-9]+)\.html" module="News" action="insertComment" vars="news_id" pattern="/admin/comment-insert-%news_id%.html"/>

	<route url="/admin/deconnexion\.html" module="Connexion" action="deconnexion" pattern="/admin/deconnexion.html"/>

	<route url="/admin/members\.html" module="Member" action="index" pattern="/admin/members.html"/>
	<route url="/admin/member-insert\.html" module="Member" action="insert" pattern="/admin/member-insert.html"/>
	<route url="/admin/member-update-([0-9]+)\.html" module="Member" action="update" vars="id" pattern="/admin/member-update-%id%.html"/>
	<route url="/admin/member-delete-([0-9]+)\.html" module="Member" action="delete" vars="id" pattern="/admin/member-delete-%id%.html"/>

	<route url="/admin/ajax_test-([0-9]+)" module="News" action="ajaxTest" vars="news_id"/>

	<route url="/admin/comment-insert-([0-9]+)-using-ajax\.html" module="News" action="insertCommentUsingAjax" vars="news_id" pattern="/admin/comment-insert-%news_id%-using-ajax.html" />
	<route url="/admin/comment-update-([0-9]+)-using-ajax\.html" module="News" action="updateCommentUsingAjax" vars="comment_id" pattern="/admin/comment-update-%comment_id%-using-ajax.html" />
	<route url="/admin/comment-delete-([0-9]+)-using-ajax\.html" module="News" action="deleteCommentUsingAjax" vars="comment_id" pattern="/admin/comment-delete-%comment_id%-using-ajax.html" />

	<route url="/admin/comment-stream-updating.php" module="News" action="commentStreamUpdatingUsingAjax" />
</routes>