<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/" module="News" action="index" pattern="/"/>
  <route url="/news-([0-9]+)\.html" module="News" action="show" vars="id" pattern="/news-%id%.html"/>
  <route url="/afficher-device\.html" module="Device" action="index" />

  <route url="/comment-stream-updating.php" module="News" action="commentStreamUpdatingUsingAjax" />
</routes>