<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/" module="News" action="index" pattern="/"/>
  <route url="/news-([0-9]+)\.html" module="News" action="show" vars="id" pattern="/news-%id%.html"/>
  <route url="/afficher-device\.html" module="Device" action="index" />

  <route url="/member-([0-9]+)\.html" module="Member" action="show" vars="member_id" pattern="/member-%member_id%.html" />

  <route url="/inscription\.html" module="Connexion" action="inscription" pattern="/inscription.html"/>
  <route url="/connexion\.html" module="Connexion" action="index" pattern="/connexion.html"/>

  <route url="/comment-stream-updating.php" module="News" action="commentStreamUpdatingUsingAjax" />

  <route url="/mon-compte\.html" module="Administration" action="index" pattern="/mon-compte.html"/>
</routes>